@import '../../customize.scss';

.gallery-wrapper{
    display:flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;

}


.card-wrapper{
    display:flex;
    flex-direction: column;
    justify-content: center;
    //align-items: baseline;
    width: 25vw;
    height: 20vw;
    margin: 5px;
    box-sizing: border-box;
    @include phone{
        width: 80vw;
        height: 50vw;
    }
    list-style: none;
    padding: 0px;
    transition: transform .5s;
        
        .comment-form{
            .comment{
                //display:block;
                min-width: 0;
                width: 100%;
                color: $yellow;
                background-color: $blue;
                box-shadow: 0px 0px 7px 4px #FFE70C;
                border-radius: 7px;
                padding: 3px;
                margin-top: 5px;
                outline: none;
                border: none;
                text-align: center;
                align-self: center;
                box-sizing: border-box;
            }
        }
    
    &:hover{
        transform: scale(1.05);
        .img-wrapper{

            box-shadow: -8px 6px 6px rgba(0, 0, 0, 0.25);
        }
    }
    
}
  
 



.img-wrapper{
    position: relative;
    display:flex;
    //flex-direction: column;
    justify-content: center;
    align-items: center;
    //width: 100%;
    background-color: white;
    height: 25vh;
    padding: 20px;
    border: solid rgb(75, 43, 28) 5px;
    border-radius: 3px;
    box-sizing: border-box;
    overflow: hidden;
    transition: width .5s, box-shadow .5s;
    box-shadow: -2px 2px 6px rgba(0, 0, 0, 0.25);
        img{
            position: absolute;
            height: 80%;
        }
        .close-button{
            position: absolute;
            top: 5px;
            right: 5px;
            //z-index: 2;
            transition: transform .5s;
                &:hover{
                    transform: scale(1.2);
                }
                &:active{
                    transform: scale(.9);
                    transition: 0s;
                }
            
        }
    
} 
  



  
.big{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    //transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.945);
    border: none;

    img{
        position: absolute;
        width: 65%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: -8px 6px 6px rgba(0, 0, 0, 0.25);
    }

}






