.add-photo-form {
    color: yellow;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 20px;
    & input{
        border: solid 3px yellow;
        border-radius: 8px;
        padding: 5px;
        color: yellow;
        background-color: rgb(26, 26, 139);
        outline: none;
        margin: 5px;
        box-shadow: -4px 4px 2px rgba(0, 0, 0, 0.25);
    }
    & h4{
        text-shadow: -4px 4px 2px rgba(0, 0, 0, 0.25);
    }
}